<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Buscar Pelicula
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <ion-searchbar animated debounce="700" placeholder="Buscar película" [value]="textoBuscar" (ionChange)="buscar($event)"></ion-searchbar>
</ion-toolbar>

<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col class=ion-text-center>
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-list-header>
      <ion-label>Ideas</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let idea of ideas">
      <ion-label  (click)="setIdea(idea)" color="primary">{{idea}}</ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>
